<?xml version="1.0" encoding="utf-8"?>
<!-- IIS 部署用：讓 .webmanifest 有正確的 MIME，並讓 sw.js、manifest 不被長期快取 -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
    <defaultDocument>
      <files><clear /><add value="index.html" /></files>
    </defaultDocument>
  </system.webServer>
  <location path="sw.js">
    <system.webServer>
      <httpProtocol><customHeaders><add name="Cache-Control" value="no-cache" /></customHeaders></httpProtocol>
    </system.webServer>
  </location>
  <location path="index.html">
    <system.webServer>
      <httpProtocol><customHeaders><add name="Cache-Control" value="no-cache" /></customHeaders></httpProtocol>
    </system.webServer>
  </location>
</configuration>
